.discreteTabButton {
    color: #fff;
    background: #515151;
    text-decoration: none;
    padding: 8px 12px;
    border-width: 0;
    border-radius: 4px;
    transition: font-size 0.2s ease, filter 0.2s ease, padding 0.2s ease;
}

.discreteTabButton:not(.active):hover {
    padding:  8px  12px  12px  12px;
    font-size: 1em;
}


.discreteTabButton.active {
    background: #889a7e;
    color: #373737;
    font-weight: bold;
}

.discreteTabButton.active:hover {
    filter: brightness(1);
}

