.doctor-card{
    display: inline-flex;
    flex-flow: row;   
    
    background: #333;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}
.doctor-details{
    display: flex;
    flex-flow: column;
    background: #222;
    padding: 5px;
}

.doctor-info{
    display: flex;
    flex-flow: column;

    gap: 5px;
}

.doctor-name{
    display: flex;
    flex-flow: column;
    background: #222;
}

.filter-block{
    display: flex;
    flex-flow: row;
    gap: 5px;
}

.filter-container{
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.services-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    align-items: flex-start;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding: 5px;
}

.services-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}