.service-card{
    display: inline-flex;
    flex-direction: column;
    background: #444;
    color: white;
    padding: 5px;
}

.services-list{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.specialization-group{
    width: 100%;
    text-align: left;
    background: #222;
    padding: 5px 0px;
}

.groups-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.service-link {
    display: inline-block;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.service-link:hover {
    transform: translateX(5px);
}

.option-select__input{
    color: white !important;
}
.option-select__single-value{
    color: white !important;
}
.option-select__menu{
    background: #222 !important;
    color: white !important;
}

.option-select__option{
    background: #444 !important;
    color: white !important;
}

.option-select__option--is-selected {
    background: #555 !important;
}

.option-select__option:hover {
    background: #777 !important;
}

.option-select__control{
    background: #333 !important;
    color: white !important;
    
}

